/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 3rem;
    color: whitesmoke;
    background-color: #333;

}

nav {
    padding: 1rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: #44B78B;
}

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;

}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: 0.85;
    cursor: pointer;
}