<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Django App{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <a href="/" >
        <span role="img" aria-label="Home">🏠️</span>
        </a>|
      <a href="/about">
        <span role="img" aria-label="about">😆️</span>
        </a>|
      <a href="{% url "post:post_list" %}">
        <span role="img" aria-label="Post">📰️</span>
        </a>|
        <a href="{% url "users:register" %}">
          <span role="img" aria-label="Register">🚀️</span>
          </a>|
        {% if not request.user.is_authenticated %}
        <a href="{% url "users:login" %}">
          <span role="img" aria-label="Login" title="Login">🔒</span>
          </a>
        {% else %}
        
        <a href="{% url "users:logout" %}">
          <span role="text" aria-label="Logout" title="Logout">Logout</span>
          </a>
        {% endif %}
    </nav>
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
